<h1>List of Assignments of <%= @user_name %></h1>
<br>
<div class = row>
  <% @assignments.each do |assignment| %>
    <div class="col-4 card">
      <%= image_tag assignment.task.image, size: '580x250'%>
      <h3><%= assignment.task.name %></h3>
      <% if assignment.is_done %>
        <button type="button" class="btn btn-success"><%= link_to 'Completado', assignment_path(assignment)%></button>
      <% else %>
        <button type="button" class="btn btn-danger"><%= link_to 'No completado', assignment_path(assignment)%></button>
      <% end %>
    </div>
  <% end %>
</div>


